{% extends "todo_app/base.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block start_body %}

<div class="jumbotron">
    <h1> Please Login </h1>
    
    <form action="{% url 'todo_app:user_login' %}" method="POST">
        
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">
        
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>

        {% csrf_token %}
        
        <input type="submit" name="" value="Login">
    </form>

</div>

{% endblock %}